.info {
    padding: 20px;
    display: flex;
    justify-content: space-around;

    hr {
        text-align: center;
    }

    div {
        padding: 20px;
        margin: 20px;
        li {
            padding: 30px;
            margin: 20px;
        }
    }
    div{
        background-color: rgb(185, 185, 185);
    }
}

.info1 {
    padding: 30px;
    margin: 20px;
}